/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

#logo {
    width: 150px;

}

/* .container {
    position: relative;
    height: 400px;
    border: 2px solid #006100;
  }
  
.centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} */